
<div class="size">
    <div class="conteiner-hero sombra">
        <h1 >Bienvenido al test de <span>{{title}}</span> </h1>
         <h2>¿Que es <span>{{title}}</span>?</h2>
    <div class="conteiner">
        <div class="img">
            <app-img1></app-img1>
        </div>
        <p>
            Angular es un framework de ingeniería de software de código abierto mantenido por Google, que sirve para desarrollar aplicaciones web
                     de estilo Single Page Application (SPA) y Progressive Web App (PWA). Sirve tanto para versiones móviles como de escritorio.
        </p>
        
    </div>
    
    </div>
    <h2>
        Entre sus caracteristicas tenemos:
    </h2>
    <div style="text-align: center;">
        <app-img2 ></app-img2>
    </div>
    
</div>  

