footer{
    margin-top: auto;
    text-align: center;
    background-color: #1976d2;
}
footer p {
    color: white;
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

