/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    

    
}
footer{
    margin-top: auto;
    text-align: center;
    background-color: #1976d2; 
}
footer p {
    color: white;
    font-size: 20px;
}